*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Open Sans", sans-serif;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 16px 0px;
}

.nav-menu ul{
    list-style: none;
    display: flex;
    gap: 32px;
}

.nav-menu ul a{
    text-decoration: none;
    color: #000000;
}

.btn-design{
    background-color: #30B868;
    color:#FFFFFF;
    padding: 16.5px 16px;
    border: none;
    border-radius: 4px;
    transition: 0.2s;
}
.btn-design:hover{
    background-color: #56a4e3;
}

.see-how-btn{
    padding: 12px 16px;
    border: 1px solid white;
    background:none;
    color: #FFFFFF;
    border-radius: 4px;
    margin-left: 16px;
    transition: 0.2s;
}

.see-how-btn:hover{
    background-color: rgb(69, 54, 84);
}

/* hero section style */
#hero-section{
    max-width: 100%;
    height: 750px;
    background: url(./assets/hero-bg.png);
    background-repeat: no-repeat;
    background-size: contain;
    text-align: center;
    padding-top:115px ;
}

.Early-access-btn{
    color: #30B868;
   border-radius: 100px;
   padding:8px 12px;
   transition: 0.2s;
}
.Early-access-btn:hover{
     background-color: #031321;
}

#hero-section p{
    font-size: 18px;
    color: #FFFFFF;
    line-height: 30px;
}

.hero-h1-text{
    font-size: 35px;
    font-weight: bold;
}

.first-tille{
    color: #FFFFFF;
}

.second-title{
    color: #30B868;
}

.banner-btn-parents{
    margin-top: 32px ;
}

/* structuresection  section style */

.structure-heading-text h2{
    font-size: 48px;
    margin-top: 60px;
    text-align: center;
}

.structure-heading-text p{
    font-size: 16px;
    color: #627382;
    margin: 16px 0px 44px 0px;
    text-align: center;
}

#fourdiv-paretns{
  max-width: 1140px;
  display: flex;
  align-items: center;
  text-align: center;
  margin: auto;
  gap: 16px;
}

.child-div{
    padding: 26px;
    width: 322px;
    height: 300px;
    box-shadow: 2px 2px 2px ;
    box-shadow: 0px 0px 8px 0px #00000014;
}

.child-div h3{
    margin: 16px 0px;
}

.child-div img{
   background-color: #f95555;
   padding: 14px 14px;
   border-radius: 50%;
   margin-top: 69px;
}

/* Your second brain,structured style */

#second-brain-section{
    display: flex;
    gap: 60px;
    justify-content: space-evenly;
    width: 1140px;
    margin: 120px auto;
}

.second-brain-section-all-text{
    width: 700px;
    padding: 100px 0px;
}

.second-brain-section-all-text h4{
    color: #30B868;
    text-transform: uppercase;
    font-size: 16px;
}

.second-brain-section-all-text h2{
    font-size: 45px;
    font-weight: 700px;
    margin: 16px 0px;
}

.second-brain-section-all-text p{
    font-size: 15px;
    color: #627382;
    margin-bottom: 40px;
}

.unorderlist li{
   list-style: none;
   line-height: 35px;
   font-weight: 500px;
}

/* challange part style */

.challangepart{
    max-width: 1140px;
    margin: auto;
    text-align: center;
    background-color:#F7F6F2;
    border-radius: 12px;
    padding: 80px 40px;
}

.challangepart h2{
    font-size: 40px;
    font-style: bold;
}

.challangepart p{
    font-size: 16px;
    color: #627382;
    
}

.challange-part-para-tag{
    margin: 16px 0px 24px 0px;

}

.challange-part-para-tag-2{
    margin-top: 24px;
}

/* footer section style */

footer{
    margin-top: 120px;
    display: flex;
    justify-content: space-around ;
    background-color: #000000;
    padding: 120px 0px;
}

.footer h3{
    font-size: 20px;
}

.footer-logo a,h3{
    color: #FFFFFF;
}

.footer-logo a i{
  padding-top: 10px;
}

.copywrite-text{
   color: #FFFFFF;
   background-color: #000000;
   text-align: center;
   font-size: 16px;
   padding: 30px 0px;
}

.footer-hr-line{
    height: 2px;
    color: #1cda07;
    width: 540px;
    margin: auto;
}